Web References/NIWebService/CreditCardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ICreditCardService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://api.nayifat.com/OnlineCreditCard/CreditCardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://api.nayifat.com/OnlineCreditCard/CreditCardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://api.nayifat.com/OnlineCreditCard/CreditCardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CreditCardOnlineService.CreditCardWebService" />
      <xsd:import schemaLocation="https://api.nayifat.com/OnlineCreditCard/CreditCardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CreditCardOnlineService" />
      <xsd:import schemaLocation="https://api.nayifat.com/OnlineCreditCard/CreditCardService.svc?xsd=xsd4" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreditCardService_ActivateBlockCard_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivateBlockCard" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ActivateBlockCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivateBlockCardResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCardBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCardBalance" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCardBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCardBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardDetails" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardMiniStatment_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardMiniStatment" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardMiniStatment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardMiniStatmentResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardStatment_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardStatment" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardStatment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardStatmentResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardPinVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardPinVerification" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardPinVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardPinVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardPostedTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardPostedTransactions" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ReturnCreditCardPostedTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnCreditCardPostedTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_MaintainCustomerCreditCardDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:MaintainCustomerCreditCardDetails" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_MaintainCustomerCreditCardDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:MaintainCustomerCreditCardDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_AllowCreditCardPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:AllowCreditCardPayment" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_AllowCreditCardPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllowCreditCardPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_SetCreditCardPinCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCreditCardPinCode" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_SetCreditCardPinCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCreditCardPinCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ListAllCustomerCards_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllCustomerCards" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_ListAllCustomerCards_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllCustomerCardsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_GetPOSTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPOSTransactions" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_GetPOSTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPOSTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_POSSubmitTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:POSSubmitTransactions" />
  </wsdl:message>
  <wsdl:message name="ICreditCardService_POSSubmitTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:POSSubmitTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreditCardService">
    <wsdl:operation name="ActivateBlockCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/ActivateBlockCard" message="tns:ICreditCardService_ActivateBlockCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ActivateBlockCardResponse" message="tns:ICreditCardService_ActivateBlockCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCardBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCardBalance" message="tns:ICreditCardService_ReturnCardBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCardBalanceResponse" message="tns:ICreditCardService_ReturnCardBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardDetails" message="tns:ICreditCardService_ReturnCreditCardDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardDetailsResponse" message="tns:ICreditCardService_ReturnCreditCardDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardMiniStatment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardMiniStatment" message="tns:ICreditCardService_ReturnCreditCardMiniStatment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardMiniStatmentResponse" message="tns:ICreditCardService_ReturnCreditCardMiniStatment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardStatment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardStatment" message="tns:ICreditCardService_ReturnCreditCardStatment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardStatmentResponse" message="tns:ICreditCardService_ReturnCreditCardStatment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardPinVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardPinVerification" message="tns:ICreditCardService_ReturnCreditCardPinVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardPinVerificationResponse" message="tns:ICreditCardService_ReturnCreditCardPinVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardPostedTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardPostedTransactions" message="tns:ICreditCardService_ReturnCreditCardPostedTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ReturnCreditCardPostedTransactionsResponse" message="tns:ICreditCardService_ReturnCreditCardPostedTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MaintainCustomerCreditCardDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/MaintainCustomerCreditCardDetails" message="tns:ICreditCardService_MaintainCustomerCreditCardDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/MaintainCustomerCreditCardDetailsResponse" message="tns:ICreditCardService_MaintainCustomerCreditCardDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllowCreditCardPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/AllowCreditCardPayment" message="tns:ICreditCardService_AllowCreditCardPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/AllowCreditCardPaymentResponse" message="tns:ICreditCardService_AllowCreditCardPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCreditCardPinCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/SetCreditCardPinCode" message="tns:ICreditCardService_SetCreditCardPinCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/SetCreditCardPinCodeResponse" message="tns:ICreditCardService_SetCreditCardPinCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAllCustomerCards">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/ListAllCustomerCards" message="tns:ICreditCardService_ListAllCustomerCards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/ListAllCustomerCardsResponse" message="tns:ICreditCardService_ListAllCustomerCards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPOSTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/GetPOSTransactions" message="tns:ICreditCardService_GetPOSTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/GetPOSTransactionsResponse" message="tns:ICreditCardService_GetPOSTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="POSSubmitTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditCardService/POSSubmitTransactions" message="tns:ICreditCardService_POSSubmitTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditCardService/POSSubmitTransactionsResponse" message="tns:ICreditCardService_POSSubmitTransactions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreditCardService" type="tns:ICreditCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateBlockCard">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ActivateBlockCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCardBalance">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCardBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardDetails">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardMiniStatment">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardMiniStatment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardStatment">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardStatment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardPinVerification">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardPinVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardPostedTransactions">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardPostedTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaintainCustomerCreditCardDetails">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/MaintainCustomerCreditCardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllowCreditCardPayment">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/AllowCreditCardPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCreditCardPinCode">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/SetCreditCardPinCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCustomerCards">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ListAllCustomerCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPOSTransactions">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/GetPOSTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="POSSubmitTransactions">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/POSSubmitTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ICreditCardService" type="tns:ICreditCardService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ICreditCardService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivateBlockCard">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ActivateBlockCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCardBalance">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCardBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardDetails">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardMiniStatment">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardMiniStatment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardStatment">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardStatment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardPinVerification">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardPinVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnCreditCardPostedTransactions">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ReturnCreditCardPostedTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MaintainCustomerCreditCardDetails">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/MaintainCustomerCreditCardDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllowCreditCardPayment">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/AllowCreditCardPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCreditCardPinCode">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/SetCreditCardPinCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllCustomerCards">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/ListAllCustomerCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPOSTransactions">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/GetPOSTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="POSSubmitTransactions">
      <soap:operation soapAction="http://tempuri.org/ICreditCardService/POSSubmitTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditCardService">
    <wsdl:port name="BasicHttpBinding_ICreditCardService" binding="tns:BasicHttpBinding_ICreditCardService">
      <soap:address location="http://nyft-web-uat.nayefat.local/OnlineCreditCard/CreditCardService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ICreditCardService" binding="tns:BasicHttpsBinding_ICreditCardService">
      <soap:address location="https://api.nayifat.com/OnlineCreditCard/CreditCardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>