Web References/NIWebService/CreditCardService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CreditCardOnlineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CreditCardOnlineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="POSSearchRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="POSkey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POSSearchRequest" nillable="true" type="tns:POSSearchRequest" />
  <xs:complexType name="POSSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POSSearchResult" nillable="true" type="tns:POSSearchResult" />
  <xs:complexType name="POSSubmitView">
    <xs:sequence>
      <xs:element minOccurs="0" name="pOS" nillable="true" type="tns:ArrayOfPOSSubmitRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POSSubmitView" nillable="true" type="tns:POSSubmitView" />
  <xs:complexType name="ArrayOfPOSSubmitRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="POSSubmitRequest" nillable="true" type="tns:POSSubmitRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPOSSubmitRequest" nillable="true" type="tns:ArrayOfPOSSubmitRequest" />
  <xs:complexType name="POSSubmitRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="NIRefNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="agreementID" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="cardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transactionType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="POSSubmitRequest" nillable="true" type="tns:POSSubmitRequest" />
  <xs:complexType name="POSSubmitResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="POSSubmitResult" nillable="true" type="tns:POSSubmitResult" />
</xs:schema>